.splore {
  width: 85vmin !important;
  height: 85vmin !important;
  background-size: #000;
  border: 0;
  cursor: auto;
  display: flex;
  left: 0;
  max-height: 768px;
  max-width: 768px;
  position: relative;
  top: 0;
}
