$pico-col-0: #000000;
$pico-col-1: #1d2b53;
$pico-col-2: #7e2553;
$pico-col-3: #008751;
$pico-col-4: #ab5236;
$pico-col-5: #5f574f;
$pico-col-6: #c2c3c7;
$pico-col-7: #fff1e8;
$pico-col-8: #ff004d;
$pico-col-9: #ffa300;
$pico-col-10: #ffec27;
$pico-col-11: #00e436;
$pico-col-12: #29adff;
$pico-col-13: #83769c;
$pico-col-14: #ff77a8;
$pico-col-15: #ffccaa;

$pico-col-128: #291814;
$pico-col-129: #111d35;
$pico-col-130: #422136;
$pico-col-131: #125359;
$pico-col-132: #742f29;
$pico-col-133: #49333b;
$pico-col-134: #a28879;
$pico-col-135: #f3ef7d;
$pico-col-136: #be1250;
$pico-col-137: #ff6c24;
$pico-col-138: #a8e72e;
$pico-col-139: #00b543;
$pico-col-140: #065ab5;
$pico-col-141: #754665;
$pico-col-142: #ff6e59;
$pico-col-143: #ff9d81;
